.wrapper {
  display: flex;
  align-items: center;
  flex: 1;
}

.user-input {
  border: none;
  border-bottom: 3px solid #ccc;
  width: 10vw;
  transition: all 0.5s ease-in-out;
  transform-origin: left;
  margin-right: 10px;
  max-height: 40px;
}

.user-input:focus {
  outline: none;
  border-bottom: 3px solid #457b9d;
}

.bt-user {
  width: 40px;
  height: 25px;
  border-radius: 15px;
  border: 1px solid #e63946;
  outline: none;
  cursor: pointer;
  background: #e63946;
  color: #f1faee;
  font-weight: 600;
  line-height: 10px;
  margin-right: 10px;
}
